# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
debug/
dep/
obj/

# Editors
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# Doxygen
doc/html
doc/latex

# Prod private keys should not be committed
attestations/data/prod/*/*priv-key.*
attestations/data/prod/*priv-key.*

tests/elfs/
tests/speculos/snapshots-tmp/
