[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = FR 
O = Ledger 
OU = Authenticator Attestation
CN = Ledger Stax U2F Attestation Batch 1

[v3_req]
1.3.6.1.4.1.45724.2.1.1=DER:03:02:05:20 # USB
